
.exchange-tables-conteiner{
    display: flex;
    width: 920px;
    margin: 0 auto;
    justify-content: center;
}

.tarjetas-productos-container{
    display: flex;
    /*distribuir el espacio entre las tarjetas*/
    flex-wrap:wrap ;
    width: 920px;
    margin: 0 auto;
}

.plans-container--slider{
    justify-content: center;
}